/* TOMMY STYLES */
.philosophy-images {
    text-align: center; 

}

.bgm {
    background-image: "./images/granite.png";
}

.border-line {
    background-color: #0F5A47;
    height: 40px;
}

.testimonial-header {
    align-content: center;
}

.testimonials{
    align-content: center; 
    /* padding:   2em; */
}

.testimonial-box {
    /* border: 1px solid black; */
    padding: 1em;
}

.philosophy {
    background-color: #fafafa;
}
.footer {
    background-color: #0F5A47;
    margin: auto;
    padding: 1em;
    align-content: center;
    color: whitesmoke;
}

.sub-footer {
    text-align: center;
    padding: 1em;
    background-color: #429B85;
    text-decoration: none;
    color: whitesmoke;
}

label {
    padding: 0 1em;
    font-size: 16px;
}

.footer-logo {
    font-size: 20px;

}

.sub-footer a:link {
    text-decoration: none;
}


#firstCarouselC {
    background-color: #429B85;    
}

#secondCarouselC {
    background-color: #0F5A47;
}

.button-shop {
    padding: 1em;
    border: none;
    outline: none;

}


.navbar{
    background-color: black;
    color:#0F5A47;
  }
  
  
  .first-section{
    width: 100%;
    background-image: url("https://files.slack.com/files-pri/T02CQ4EN4-FCPUJ2129/granite.png");
    color: #0F5A47;    
  }
  
  .first-fruit{
    height: 400px;
    text-align: center;
    
  }