#max {
    width: 100%;
    display: flex

}

/* .hx {
    height: 200px;
} */

/* #firstCarousel {
   width: 39%;
   height: 300px; 
}

#secondCarousel {
    width: 39%;
    height: 300px;
}

/* .carousel-item {
    width: 50%;
    height: 50%;
} */ 